<div class="jumbotron jumbotron-fluid p-5">
  <h1 class="display-4">Электрон</h1>
  <p class="lead">Добро пожаловать в магазин суперполезных товаров и других вещей</p>
  <hr class="my-4">
  <p>Здесь вы найдете все, что нужно для дома, работы, отдыха, развлечений и просто хорошей жизни. Жмите на кнопку ниже и переходите в наш каталог!</p>
  <%= link_to 'Перейти в каталог', items_path, class: "btn btn-primary btn-lg" %>
</div>
<div class="container mb-5 pb-5">
  <h3 class="text-center">Вот что у нас есть:</h3>
  <div class="row">
    <% @items.each do |item| %>
      <%= render partial: "items/card", locals: { item: item } %>
    <% end %>
  </div>
  <div class="text-center">
    <%= link_to 'Каталог', items_path, class: "btn btn-primary" %>
  </div>
</div>